.search {
  position: relative;
  display: flex;
  max-width: 380px;
  flex-grow: 1;
}

.search__input {
  display: flex;
  width: 100%;
  padding: 13px 40px 13px 21px;
  font-size: 12px;
  font-family: PT-Sans, Arial, Helvetica, sans-serif;
  color: var(--color-manatee);
  background-color: rgba(239, 239, 239, 0.47);
  border-radius: 8px;
  border: none;
  outline: none;
}

.search__icon {
  position: absolute;
  top: 13px;
  right: 13px;
}

.search__error {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  color: red;
  font-family: PT-Sans, Arial, Helvetica, sans-serif;
}